.conatiner{
  width: 100%;
  height: 100vh;
  
  .movies{
    display: grid;
    gap: 10px;
    row-gap: 1rem;
    margin: 1rem;
    margin-right: 3rem;
    grid-template-columns: repeat(6, 1fr);
    // height: 80%;
    .movie{
      width: 100%;
      height: 35rem;
      margin: 1rem;
      background: 10;
      .poster{
        // position: absolute;
        width: 100%;
        height: 80%;
        .pos{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
      }
      .details{
        width: 100%;
        height: 20%;
        font-size: 0.6rem;
        z-index: 1;
        margin-top: 10px;
        .item{
          font-weight: 600;
          color: #222;
          margin: 0;
          padding: 0;
        }
        .item2{
          font-weight: 600;
          font-size: 0.8rem;
          color: #222;
          margin: 0;
          padding: 0;
        }
        .ul{
          list-style: none;
          margin: 10px 0;
          padding: 0;
          display: flex;
          flex-direction: row;
          .li{
            padding: 0 10px;
            font-size: 0.8rem;
            color: #505050;
            border-right: 1px solid #505050;
            &:first-child{
              padding: 0 10px 0 0;
            }
            &:last-child{
              border: none;
            }
          }
        }
      }
    }
  }
}

.cont_add{
  margin: 2rem 0 0 2rem;
  display: flex;
  .add{
    background: #F84464;
    color: #fff;
    border-radius: 18px;
    font-size: 1rem;
    font-weight: bolder;
    padding:0.7rem 1rem;
    &:hover, &:focus{    
        background: #C4242B;
        color: white;
    }
  }
  .search_cont{
    margin-left: 1rem;
    width: 60%;
    .search{
      outline: none;
      border: 1px solid #505050;
      border-radius: 30px;
      padding: 10px;
      width: 30%;
    }
    .btn_search{
      background: #F84464;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 100%;
      padding: 10px;
      margin-left: 0.5rem;
      cursor: pointer;
      .search_icon{
        font-weight: bold;
      }
    }
  }
}