.container{
    width: 100%;
    height: 100%;
    .poster_cont{
        .poster{
            object-fit: cover;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}